.card {
  display: flex;
  width: 540px;
  flex-direction: column;
  padding: 0;
  margin-bottom: 100px;
  margin-top: 0;
}

.card:first-of-type {
  margin-right: 100px;
}

.card:last-of-type {
  margin-left: auto;
  margin-right: auto;
}

.card__title {
  list-style-type: none;
  font-family: "Inter", arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  margin-top: 0;
}

.card__list-item {
  list-style-type: none;
  display: flex;
  font-family: "Noto Serif", arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid #000;
}
