.header {
  box-sizing: border-box;
  height: 100vh;
  background: center / cover no-repeat url(../images/background_header.svg),
    #fff;
  position: relative;
  z-index: 0;
}

.header__title {
  display: flex;
  position: relative;
  margin-top: 202px;
  margin-left: 80px;
  max-width: 729px;
  flex-wrap: wrap;
  font-family: "Inter", arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 0;
}

.header__span-accent {
  font-family: "Noto Serif", arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin-top: 28px;
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: -1;
}

.header__footer {
  display: flex;
  font-family: "Inter", arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-top: 160px;
}

.header__hours {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 40px;
  margin-left: 80px;
  margin-right: auto;
  margin-top: auto;
  padding: 0;
}

.header__address {
  margin-bottom: 40px;
  margin-right: 80px;
  margin-left: auto;
  margin-top: auto;
}
