.header {
  height: 100vh;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 125px;
  height: 142px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav__links {
  list-style-type: none;
  display: flex;
  column-gap: 20px;
  margin-top: 30px;
  margin-right: 80px;
  padding: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  display: flex;
  position: relative;
  margin-top: 202px;
  margin-left: 80px;
  max-width: 729px;
  flex-wrap: wrap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin-top: 28px;
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  flex-direction: row;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__hours {
  list-style-type: none;
  position: absolute;
  bottom: 40px;
  left: 80px;
  margin: 0;
  padding: 0;
}

.header__address {
  position: absolute;
  bottom: 40px;
  right: 80px;
}
