.menu {
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu__title {
  font-family: "Inter", arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 0;
}

.menu__subtitle {
  display: flex;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 100px;
  font-family: "Noto Serif", arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu__cards {
  display: flex;
  max-width: 1180px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
